<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>thymeleaf</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>         
    </head>
    <body> 
        
        <div class="container">
        <h1 th:text="'Bem vindo ' + ${name}"/>        
        
        <a href="/pessoa.html"> Manutenção de pessoas </a>
        </div>
    </body>
</html>