
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div> 
        <h3 class="alert alert-success">@ViewBag.Mensagem</h3>
        <p>
            <a href="~/Pedido/Listagem" class="btn btn-default">Voltar</a>
        </p>
    </div>

