@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3 class="alert alert-success">@ViewBag.Mensagem</h3>
    <p>
        @*
        <script>
            <a href="www.mypage.com" onclick="window.history.go(-1); return false;"> VoltarMSM </a>
        </script>
        *@
        <a href="~/Pedido/Listagem" class="btn btn-default">Voltar</a>
    </p>
</div>

