
@{
    ViewBag.Title = "IronMaiden";
}

<h2>IronMaiden</h2>

<button id="btnCriar">Listar imagens</button>  

<ul id="lista">
   @*<li><img src="https://i.scdn.co/image/2dab59ea48920d7fa44097f3851795393943b0c6"/></li>*@ 
</ul>


@section scripts
{
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="~/scripts/View/IronMaiden.js"></script>
}